In [20]:
import polars as pl
import os
from pathlib import Path
pl.Config.set_tbl_rows(40)

path = "/home/ubuntu/bvic/ibmb_script/tf_online/tf_online_50mio/flagged/tf_online_50mio_flag.parquet"

path = Path(path)

if os.path.exists(path):
    df = pl.scan_parquet(path)
    # print(df.head(10))
else:
    print("File not found:", path)

In [21]:
df.select(pl.len()).collect()

shape: (1, 1)
┌───────┐
│ len   │
│ ---   │
│ u32   │
╞═══════╡
│ 22918 │
└───────┘

In [22]:
df.collect()

shape: (22_918, 15)
┌────────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬──────┐
│ transactio ┆ from_accou ┆ from_accou ┆ to_account ┆ … ┆ transacti ┆ no_refere ┆ temp_date ┆ flag │
│ n_date     ┆ nt_number  ┆ nt_owner_n ┆ _number    ┆   ┆ on_state  ┆ nsi       ┆ _col      ┆ ---  │
│ ---        ┆ ---        ┆ ame        ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ i32  │
│ datetime[μ ┆ str        ┆ ---        ┆ str        ┆   ┆ i8        ┆ str       ┆ date      ┆      │
│ s]         ┆            ┆ str        ┆            ┆   ┆           ┆           ┆           ┆      │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪══════╡
│ 2025-06-18 ┆ 5059875093 ┆ AGUS MULIA ┆ 8457420507 ┆ … ┆ 1         ┆ MB6506817 ┆ 2025-06-1 ┆ 1    │
│ 01:24:46   ┆            ┆ SURYA      ┆ 030694     ┆   ┆           ┆ 906       ┆ 8         ┆      │
│            ┆            ┆ PUTRA      ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 0371037586 ┆ CAROLINA   ┆ 8650085800 ┆ … ┆ 1         ┆ MB1787817 ┆ 2025-06-1 ┆ 1    │
│ 01:26:22   ┆            ┆ SUZANNA    ┆            ┆   ┆           ┆ 900       ┆ 8         ┆      │
│            ┆            ┆ JACKLINE   ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 0411031632 ┆ MARIA      ┆ 2023254045 ┆ … ┆ 1         ┆ MB1893817 ┆ 2025-06-1 ┆ 1    │
│ 01:43:42   ┆            ┆ SUPARMO    ┆            ┆   ┆           ┆ 884       ┆ 8         ┆      │
│ 2025-06-18 ┆ 5059875093 ┆ AGUS MULIA ┆ 4374560001 ┆ … ┆ 1         ┆ MB7326817 ┆ 2025-06-1 ┆ 1    │
│ 01:48:27   ┆            ┆ SURYA      ┆ 587347     ┆   ┆           ┆ 878       ┆ 8         ┆      │
│            ┆            ┆ PUTRA      ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 2101016202 ┆ ODESSA     ┆ 8235074431 ┆ … ┆ 1         ┆ MB6693817 ┆ 2025-06-1 ┆ 1    │
│ 02:29:17   ┆            ┆            ┆            ┆   ┆           ┆ 858       ┆ 8         ┆      │
│ 2025-06-18 ┆ 2101016202 ┆ ODESSA     ┆ 8235074431 ┆ … ┆ 1         ┆ MB4194817 ┆ 2025-06-1 ┆ 1    │
│ 02:30:34   ┆            ┆            ┆            ┆   ┆           ┆ 852       ┆ 8         ┆      │
│ 2025-06-18 ┆ 1353929335 ┆ IE MING    ┆ 9852889907 ┆ … ┆ 1         ┆ MB4108817 ┆ 2025-06-1 ┆ 1    │
│ 03:44:34   ┆            ┆ HOEI       ┆            ┆   ┆           ┆ 807       ┆ 8         ┆      │
│ 2025-06-18 ┆ 1353929335 ┆ IE MING    ┆ 0671011368 ┆ … ┆ 1         ┆ MB3188817 ┆ 2025-06-1 ┆ 1    │
│ 03:48:23   ┆            ┆ HOEI       ┆            ┆   ┆           ┆ 803       ┆ 8         ┆      │
│ 2025-06-18 ┆ 7561661266 ┆ AMAN       ┆ 8830939947 ┆ … ┆ 1         ┆ MB5875817 ┆ 2025-06-1 ┆ 1    │
│ 04:29:26   ┆            ┆ GODJALI    ┆            ┆   ┆           ┆ 780       ┆ 8         ┆      │
│ 2025-06-18 ┆ 1353929335 ┆ IE MING    ┆ 2228961452 ┆ … ┆ 1         ┆ MB8668817 ┆ 2025-06-1 ┆ 1    │
│ 05:48:09   ┆            ┆ HOEI       ┆            ┆   ┆           ┆ 624       ┆ 8         ┆      │
│ 2025-06-18 ┆ 0671011368 ┆ LISA       ┆ 9852889907 ┆ … ┆ 1         ┆ MB7387817 ┆ 2025-06-1 ┆ 1    │
│ 06:03:57   ┆            ┆ RAHARDJA   ┆            ┆   ┆           ┆ 546       ┆ 8         ┆      │
│            ┆            ┆ TANUDIREDJ ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ A          ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 2228961452 ┆ IE ANDY    ┆ 9852889907 ┆ … ┆ 1         ┆ MB3636817 ┆ 2025-06-1 ┆ 1    │
│ 06:06:54   ┆            ┆ WILLIEM    ┆            ┆   ┆           ┆ 534       ┆ 8         ┆      │
│ 2025-06-18 ┆ 0751012098 ┆ CAREEN JOY ┆ 5600887888 ┆ … ┆ 1         ┆ MB0882817 ┆ 2025-06-1 ┆ 1    │
│ 06:34:01   ┆            ┆ CHANDERSON ┆            ┆   ┆           ┆ 410       ┆ 8         ┆      │
│ 2025-06-18 ┆ 0701011121 ┆ WOEN CHIEN ┆ 1121609312 ┆ … ┆ 1         ┆ MB8822817 ┆ 2025-06-1 ┆ 1    │
│ 06:48:39   ┆            ┆ SEN        ┆            ┆   ┆           ┆ 344       ┆ 8         ┆      │
│ 2025-06-18 ┆ 1931014877 ┆ SITI FATIM ┆ 9010421527 ┆ … ┆ 1         ┆ MB8812817 ┆ 2025-06-1 ┆ 1    │
│ 06:51:39   ┆            ┆ AHH.NY.SE  ┆ 58         ┆   ┆           ┆ 324       ┆ 8         ┆      │
│ 2025-06-18 ┆ 1841012778 ┆ AGUSTINUS  ┆ 1841012786 ┆ … ┆ 1         ┆ MB0174817 ┆ 2025-06-1 ┆ 1    │
│ 07:15:50   ┆            ┆ HALIM      ┆            ┆   ┆           ┆ 185       ┆ 8         ┆      │
│ 2025-06-18 ┆ 1983099245 ┆ WILSON     ┆ 7293510508 ┆ … ┆ 1         ┆ MB5083816 ┆ 2025-06-1 ┆ 1    │
│ 07:41:15   ┆            ┆ LEONARDO   ┆            ┆   ┆           ┆ 960       ┆ 8         ┆      │
│            ┆            ┆ KANADI     ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 8101009956 ┆ MERYANA    ┆ 4050430729 ┆ … ┆ 1         ┆ MB9793816 ┆ 2025-06-1 ┆ 1    │
│ 08:04:20   ┆            ┆ FATMI NONA ┆            ┆   ┆           ┆ 707       ┆ 8         ┆      │
│            ┆            ┆ DEWI       ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 8101000665 ┆ LIANTJE    ┆ 7896817814 ┆ … ┆ 1         ┆ MB8669816 ┆ 2025-06-1 ┆ 1    │
│ 08:10:19   ┆            ┆ UMAR       ┆            ┆   ┆           ┆ 601       ┆ 8         ┆      │
│ 2025-06-18 ┆ 0981027108 ┆ SARWAN     ┆ 4800105001 ┆ … ┆ 1         ┆ MB2011816 ┆ 2025-06-1 ┆ 1    │
│ 08:18:32   ┆            ┆ AKSAN      ┆            ┆   ┆           ┆ 511       ┆ 8         ┆      │
│ …          ┆ …          ┆ …          ┆ …          ┆ … ┆ …         ┆ …         ┆ …         ┆ …    │
│ 2025-12-01 ┆ 3832180225 ┆ REPI SETIA ┆ 4399010122 ┆ … ┆ 1         ┆ MB2010418 ┆ 2025-12-0 ┆ 1    │
│ 14:33:02   ┆            ┆ GUNAWAN    ┆ 00508      ┆   ┆           ┆ 699       ┆ 1         ┆      │
│ 2025-12-01 ┆ 3832180225 ┆ REPI SETIA ┆ 4399010122 ┆ … ┆ 1         ┆ MB8044418 ┆ 2025-12-0 ┆ 1    │
│ 14:38:38   ┆            ┆ GUNAWAN    ┆ 00508      ┆   ┆           ┆ 563       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0691009581 ┆ KWAN       ┆ 0647857845 ┆ … ┆ 1         ┆ MB9982418 ┆ 2025-12-0 ┆ 1    │
│ 14:40:10   ┆            ┆ BUNARTO    ┆            ┆   ┆           ┆ 517       ┆ 1         ┆      │
│            ┆            ┆ WIBISONO   ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-12-01 ┆ 3101034355 ┆ SURYANTO   ┆ 0100829355 ┆ … ┆ 1         ┆ MB9897418 ┆ 2025-12-0 ┆ 1    │
│ 14:42:50   ┆            ┆ HARDIONO   ┆            ┆   ┆           ┆ 449       ┆ 1         ┆      │
│ 2025-12-01 ┆ 6301418141 ┆ MUHAMMAD   ┆ 6370389509 ┆ … ┆ 1         ┆ MB9652418 ┆ 2025-12-0 ┆ 1    │
│ 14:50:00   ┆            ┆ RAFLI      ┆            ┆   ┆           ┆ 222       ┆ 1         ┆      │
│ 2025-12-01 ┆ 3101040053 ┆ ANGELA     ┆ 2583503692 ┆ … ┆ 1         ┆ MB5664418 ┆ 2025-12-0 ┆ 1    │
│ 14:55:36   ┆            ┆ YUWANITA   ┆            ┆   ┆           ┆ 088       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771035663 ┆ … ┆ 1         ┆ MB9763417 ┆ 2025-12-0 ┆ 1    │
│ 14:59:20   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 975       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771036783 ┆ … ┆ 1         ┆ MB6136417 ┆ 2025-12-0 ┆ 1    │
│ 14:59:56   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 956       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771035884 ┆ MAHATMA    ┆ 6280126274 ┆ … ┆ 1         ┆ MB8157417 ┆ 2025-12-0 ┆ 1    │
│ 15:00:28   ┆            ┆            ┆            ┆   ┆           ┆ 942       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0831081031 ┆ … ┆ 1         ┆ MB6732417 ┆ 2025-12-0 ┆ 1    │
│ 15:00:37   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 934       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771010776 ┆ … ┆ 1         ┆ MB7528417 ┆ 2025-12-0 ┆ 1    │
│ 15:01:07   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 921       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771013236 ┆ … ┆ 1         ┆ MB5527417 ┆ 2025-12-0 ┆ 1    │
│ 15:01:45   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 899       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0961061075 ┆ ANDIKA     ┆ 1250011907 ┆ … ┆ 1         ┆ MB7123417 ┆ 2025-12-0 ┆ 1    │
│ 15:02:17   ┆            ┆ PUTRA      ┆ 722        ┆   ┆           ┆ 886       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771012434 ┆ … ┆ 1         ┆ MB6055417 ┆ 2025-12-0 ┆ 1    │
│ 15:02:26   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 880       ┆ 1         ┆      │
│ 2025-12-01 ┆ 2001024828 ┆ LILIS      ┆ 5948856301 ┆ … ┆ 1         ┆ MB8369417 ┆ 2025-12-0 ┆ 1    │
│ 15:06:28   ┆            ┆ GAMPANG    ┆            ┆   ┆           ┆ 808       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771011543 ┆ … ┆ 1         ┆ MB6743417 ┆ 2025-12-0 ┆ 1    │
│ 15:07:17   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 775       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771036139 ┆ … ┆ 1         ┆ MB2071417 ┆ 2025-12-0 ┆ 1    │
│ 15:08:32   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 732       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0771010261 ┆ … ┆ 1         ┆ MB2430417 ┆ 2025-12-0 ┆ 1    │
│ 15:09:02   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 715       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 0751015143 ┆ … ┆ 1         ┆ MB1344417 ┆ 2025-12-0 ┆ 1    │
│ 15:09:41   ┆            ┆ RUSPANAH   ┆            ┆   ┆           ┆ 699       ┆ 1         ┆      │
│ 2025-12-01 ┆ 0771010199 ┆ MERRY F    ┆ 1180012741 ┆ … ┆ 1         ┆ MB0644417 ┆ 2025-12-0 ┆ 1    │
│ 15:11:51   ┆            ┆ RUSPANAH   ┆ 012        ┆   ┆           ┆ 649       ┆ 1         ┆      │
└────────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴──────┘

In [30]:
df.filter(
    (pl.col("transaction_date").dt.hour() >= 1) &
    (pl.col("transaction_date").dt.hour() <= 2)
).head().collect()

shape: (5, 15)
┌────────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬──────┐
│ transactio ┆ from_accou ┆ from_accou ┆ to_account ┆ … ┆ transacti ┆ no_refere ┆ temp_date ┆ flag │
│ n_date     ┆ nt_number  ┆ nt_owner_n ┆ _number    ┆   ┆ on_state  ┆ nsi       ┆ _col      ┆ ---  │
│ ---        ┆ ---        ┆ ame        ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ i32  │
│ datetime[μ ┆ str        ┆ ---        ┆ str        ┆   ┆ i8        ┆ str       ┆ date      ┆      │
│ s]         ┆            ┆ str        ┆            ┆   ┆           ┆           ┆           ┆      │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪══════╡
│ 2025-06-18 ┆ 5059875093 ┆ AGUS MULIA ┆ 8457420507 ┆ … ┆ 1         ┆ MB6506817 ┆ 2025-06-1 ┆ 1    │
│ 01:24:46   ┆            ┆ SURYA      ┆ 030694     ┆   ┆           ┆ 906       ┆ 8         ┆      │
│            ┆            ┆ PUTRA      ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 0371037586 ┆ CAROLINA   ┆ 8650085800 ┆ … ┆ 1         ┆ MB1787817 ┆ 2025-06-1 ┆ 1    │
│ 01:26:22   ┆            ┆ SUZANNA    ┆            ┆   ┆           ┆ 900       ┆ 8         ┆      │
│            ┆            ┆ JACKLINE   ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 0411031632 ┆ MARIA      ┆ 2023254045 ┆ … ┆ 1         ┆ MB1893817 ┆ 2025-06-1 ┆ 1    │
│ 01:43:42   ┆            ┆ SUPARMO    ┆            ┆   ┆           ┆ 884       ┆ 8         ┆      │
│ 2025-06-18 ┆ 5059875093 ┆ AGUS MULIA ┆ 4374560001 ┆ … ┆ 1         ┆ MB7326817 ┆ 2025-06-1 ┆ 1    │
│ 01:48:27   ┆            ┆ SURYA      ┆ 587347     ┆   ┆           ┆ 878       ┆ 8         ┆      │
│            ┆            ┆ PUTRA      ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-18 ┆ 2101016202 ┆ ODESSA     ┆ 8235074431 ┆ … ┆ 1         ┆ MB6693817 ┆ 2025-06-1 ┆ 1    │
│ 02:29:17   ┆            ┆            ┆            ┆   ┆           ┆ 858       ┆ 8         ┆      │
└────────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴──────┘

In [ ]:
df.duplicated(subset=["no_referensi", "from_account_number"]).sum()

np.int64(0)

In [ ]:
df.select(pl.len()).collect()[0, 0]

568196

In [ ]:
df.head().collect()

shape: (5, 18)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ from_acco ┆ to_accoun ┆ … ┆ flag_10mi ┆ temp_date ┆ rolling_2 ┆ flag_50m │
│ on_date   ┆ unt_numbe ┆ unt_owner ┆ t_number  ┆   ┆ n         ┆ _col      ┆ 4h_sum    ┆ io       │
│ ---       ┆ r         ┆ _name     ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ datetime[ ┆ ---       ┆ ---       ┆ str       ┆   ┆ i8        ┆ date      ┆ f64       ┆ bool     │
│ μs]       ┆ str       ┆ str       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-06-1 ┆ 000100135 ┆ RICKY     ┆ 800187721 ┆ … ┆ 0         ┆ 2025-06-1 ┆ 2.5e8     ┆ true     │
│ 6         ┆ 2         ┆ BUJUNG    ┆ 900       ┆   ┆           ┆ 6         ┆           ┆          │
│ 07:49:45  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-06-2 ┆ 2.5e7     ┆ true     │
│ 5         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 5         ┆           ┆          │
│ 12:08:19  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 000100135 ┆ RICKY     ┆ 701273420 ┆ … ┆ 0         ┆ 2025-06-2 ┆ 1.25e8    ┆ true     │
│ 6         ┆ 2         ┆ BUJUNG    ┆ 100       ┆   ┆           ┆ 6         ┆           ┆          │
│ 10:14:48  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-06-2 ┆ 1.07e8    ┆ true     │
│ 6         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 6         ┆           ┆          │
│ 16:30:27  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-3 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-06-3 ┆ 2e7       ┆ true     │
│ 0         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 0         ┆           ┆          │
│ 11:40:52  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
df.filter(pl.col("flag_50mio") == 0).head().collect()

shape: (5, 18)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ from_acco ┆ to_accoun ┆ … ┆ flag_10mi ┆ temp_date ┆ rolling_2 ┆ flag_50m │
│ on_date   ┆ unt_numbe ┆ unt_owner ┆ t_number  ┆   ┆ n         ┆ _col      ┆ 4h_sum    ┆ io       │
│ ---       ┆ r         ┆ _name     ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ datetime[ ┆ ---       ┆ ---       ┆ str       ┆   ┆ i8        ┆ date      ┆ f64       ┆ bool     │
│ μs]       ┆ str       ┆ str       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-07-2 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-07-2 ┆ 2.5e7     ┆ false    │
│ 5         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 5         ┆           ┆          │
│ 15:15:08  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-08-1 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-08-1 ┆ 2.5e7     ┆ false    │
│ 8         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 8         ┆           ┆          │
│ 10:48:36  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-10-2 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-10-2 ┆ 1e7       ┆ false    │
│ 5         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 5         ┆           ┆          │
│ 09:21:49  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-10-2 ┆ 000100135 ┆ RICKY     ┆ 527060253 ┆ … ┆ 0         ┆ 2025-10-2 ┆ 1e7       ┆ false    │
│ 9         ┆ 2         ┆ BUJUNG    ┆ 5         ┆   ┆           ┆ 9         ┆           ┆          │
│ 11:30:14  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-07-0 ┆ 000157222 ┆ MONZANITA ┆ 873106656 ┆ … ┆ 0         ┆ 2025-07-0 ┆ 400000.0  ┆ false    │
│ 7         ┆ 0         ┆ IMANUELLA ┆ 6         ┆   ┆           ┆ 7         ┆           ┆          │
│ 09:00:32  ┆           ┆ GRAZILIA  ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ M…        ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
filtered = df.filter(
    pl.col("transaction_amount") >= 50000000
)

In [ ]:
filtered.head().collect()

shape: (5, 15)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ from_acco ┆ to_accoun ┆ … ┆ transacti ┆ no_refere ┆ flag_5min ┆ flag_10m │
│ on_date   ┆ unt_numbe ┆ unt_owner ┆ t_number  ┆   ┆ on_state  ┆ nsi       ┆ ---       ┆ in       │
│ ---       ┆ r         ┆ _name     ┆ ---       ┆   ┆ ---       ┆ ---       ┆ i8        ┆ ---      │
│ datetime[ ┆ ---       ┆ ---       ┆ str       ┆   ┆ i8        ┆ str       ┆           ┆ i8       │
│ μs]       ┆ str       ┆ str       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-06-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 1         ┆ MB9638845 ┆ 0         ┆ 0        │
│ 6         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆ 204       ┆           ┆          │
│ 00:30:40  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 290701409 ┆ ERWIN     ┆ 523204498 ┆ … ┆ 1         ┆ MB8394845 ┆ 0         ┆ 0        │
│ 6         ┆ 6         ┆           ┆ 1         ┆   ┆           ┆ 197       ┆           ┆          │
│ 00:35:38  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 028101861 ┆ KARTINI   ┆ 350022877 ┆ … ┆ 1         ┆ MB0506845 ┆ 0         ┆ 0        │
│ 6         ┆ 2         ┆ WATI      ┆ 5         ┆   ┆           ┆ 156       ┆           ┆          │
│ 01:00:20  ┆           ┆ SASTORO   ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 097100832 ┆ HENDRA    ┆ 399109429 ┆ … ┆ 1         ┆ MB4365845 ┆ 0         ┆ 0        │
│ 6         ┆ 6         ┆ TANUJAYA  ┆ 4         ┆   ┆           ┆ 139       ┆           ┆          │
│ 01:06:14  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 953165177 ┆ DJOHAN    ┆ 081514476 ┆ … ┆ 1         ┆ MB7897845 ┆ 0         ┆ 0        │
│ 6         ┆ 3         ┆ PANGESTU  ┆ 050       ┆   ┆           ┆ 136       ┆           ┆          │
│ 01:06:18  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
df_rolled = df.join(
    df,
    left_on="from_account_number", 
    right_on="from_account_number", 
    how="left",
    suffix="_r").filter(
        (pl.col("transaction_date_r") >= pl.col("transaction_date") - pl.duration(hours=24)) & 
        (pl.col("transaction_date_r") <= pl.col("transaction_date"))
) 

# Step 3: Group by original row (using unique identifier) to sum amounts within 24h 
df_sums = df_rolled.group_by("no_referensi").agg(
    pl.sum("transaction_amount_r").alias("rolling_24h_sum")
) 

# Step 4: Merge rolling sums back to original DataFrame 
df_flagged = df.join(
    df_sums, 
    on="no_referensi"
    ).with_columns([
        (pl.col("rolling_24h_sum") >= 50_000_000).alias("flag_50M")]).sort(["from_account_number", "transaction_date"])

In [ ]:
df_flagged.head().collect()

shape: (5, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ from_acco ┆ to_accoun ┆ … ┆ flag_5min ┆ flag_10mi ┆ rolling_2 ┆ flag_50M │
│ on_date   ┆ unt_numbe ┆ unt_owner ┆ t_number  ┆   ┆ ---       ┆ n         ┆ 4h_sum    ┆ ---      │
│ ---       ┆ r         ┆ _name     ┆ ---       ┆   ┆ i8        ┆ ---       ┆ ---       ┆ bool     │
│ datetime[ ┆ ---       ┆ ---       ┆ str       ┆   ┆           ┆ i8        ┆ f64       ┆          │
│ μs]       ┆ str       ┆ str       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-07-0 ┆ 000779255 ┆ ANI       ┆ 321701025 ┆ … ┆ 0         ┆ 0         ┆ 1.95e6    ┆ false    │
│ 8         ┆ 7         ┆ RAHMAWATI ┆ 811537    ┆   ┆           ┆           ┆           ┆          │
│ 06:03:01  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-10-0 ┆ 001509131 ┆ AYU       ┆ 517501499 ┆ … ┆ 0         ┆ 0         ┆ 250000.0  ┆ false    │
│ 5         ┆ 8         ┆ MUHARTIA  ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│ 04:24:04  ┆           ┆ ULFA      ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-11-0 ┆ 001621002 ┆ JHOVENT   ┆ 517401026 ┆ … ┆ 0         ┆ 0         ┆ 100000.0  ┆ false    │
│ 8         ┆ 5         ┆ BRIAN     ┆ 434534    ┆   ┆           ┆           ┆           ┆          │
│ 06:48:00  ┆           ┆ KEINT JEM ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-11-0 ┆ 001621002 ┆ JHOVENT   ┆ 517401026 ┆ … ┆ 0         ┆ 0         ┆ 130000.0  ┆ false    │
│ 8         ┆ 5         ┆ BRIAN     ┆ 434534    ┆   ┆           ┆           ┆           ┆          │
│ 06:52:06  ┆           ┆ KEINT JEM ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-11-1 ┆ 001621002 ┆ JHOVENT   ┆ 181541652 ┆ … ┆ 0         ┆ 0         ┆ 400000.0  ┆ false    │
│ 6         ┆ 5         ┆ BRIAN     ┆ 0         ┆   ┆           ┆           ┆           ┆          │
│ 04:30:25  ┆           ┆ KEINT JEM ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
df_flagged.filter(
    (pl.col("flag_50M") > 0) &
    (pl.col("transaction_amount") < 50000000)
).sort("transaction_date", "from_account_number").head(10).collect()

shape: (10, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ from_acco ┆ to_accoun ┆ … ┆ flag_5min ┆ flag_10mi ┆ rolling_2 ┆ flag_50M │
│ on_date   ┆ unt_numbe ┆ unt_owner ┆ t_number  ┆   ┆ ---       ┆ n         ┆ 4h_sum    ┆ ---      │
│ ---       ┆ r         ┆ _name     ┆ ---       ┆   ┆ i8        ┆ ---       ┆ ---       ┆ bool     │
│ datetime[ ┆ ---       ┆ ---       ┆ str       ┆   ┆           ┆ i8        ┆ f64       ┆          │
│ μs]       ┆ str       ┆ str       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-06-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 1.0045e8  ┆ true     │
│ 6         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 00:31:47  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 187101283 ┆ ANI       ┆ 350022555 ┆ … ┆ 0         ┆ 0         ┆ 1.4e8     ┆ true     │
│ 6         ┆ 7         ┆ HARYANI   ┆ 5         ┆   ┆           ┆           ┆           ┆          │
│ 04:26:49  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 210101620 ┆ ODESSA    ┆ 704514243 ┆ … ┆ 0         ┆ 0         ┆ 9.765e7   ┆ true     │
│ 7         ┆ 2         ┆           ┆ 4         ┆   ┆           ┆           ┆           ┆          │
│ 03:57:53  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 210101620 ┆ ODESSA    ┆ 823507443 ┆ … ┆ 0         ┆ 0         ┆ 1.49794e8 ┆ true     │
│ 8         ┆ 2         ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│ 02:30:34  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 057476521 ┆ NOVA      ┆ 133836774 ┆ … ┆ 0         ┆ 0         ┆ 5.2715305 ┆ true     │
│ 2         ┆ 2         ┆ SYAHPUTRI ┆ 2         ┆   ┆           ┆           ┆ e7        ┆          │
│ 04:10:23  ┆           ┆ UTAMI     ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 187101903 ┆ VIVEKANAN ┆ 687082766 ┆ … ┆ 0         ┆ 0         ┆ 6.9e7     ┆ true     │
│ 3         ┆ 3         ┆ D         ┆ 9         ┆   ┆           ┆           ┆           ┆          │
│ 04:33:33  ┆           ┆ A.TOLANI  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 186100959 ┆ JOHAN     ┆ 553074210 ┆ … ┆ 0         ┆ 0         ┆ 7.705839e ┆ true     │
│ 3         ┆ 5         ┆ PAIMAN    ┆ 0070742   ┆   ┆           ┆           ┆ 7         ┆          │
│ 06:47:13  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 186100959 ┆ JOHAN     ┆ 128000513 ┆ … ┆ 0         ┆ 0         ┆ 8.405839e ┆ true     │
│ 3         ┆ 5         ┆ PAIMAN    ┆ 8471      ┆   ┆           ┆           ┆ 7         ┆          │
│ 06:50:10  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 186100959 ┆ JOHAN     ┆ 707419907 ┆ … ┆ 0         ┆ 0         ┆ 9.005839e ┆ true     │
│ 3         ┆ 5         ┆ PAIMAN    ┆ 600       ┆   ┆           ┆           ┆ 7         ┆          │
│ 06:51:50  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-2 ┆ 186100959 ┆ JOHAN     ┆ 105149168 ┆ … ┆ 0         ┆ 0         ┆ 9.505839e ┆ true     │
│ 3         ┆ 5         ┆ PAIMAN    ┆ 3         ┆   ┆           ┆           ┆ 7         ┆          │
│ 06:54:17  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
df_flagged.filter(
    pl.col("from_account_number") == "0291009701"
).sort("transaction_date").collect()

shape: (7, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ from_acco ┆ to_accoun ┆ … ┆ flag_5min ┆ flag_10mi ┆ rolling_2 ┆ flag_50M │
│ on_date   ┆ unt_numbe ┆ unt_owner ┆ t_number  ┆   ┆ ---       ┆ n         ┆ 4h_sum    ┆ ---      │
│ ---       ┆ r         ┆ _name     ┆ ---       ┆   ┆ i8        ┆ ---       ┆ ---       ┆ bool     │
│ datetime[ ┆ ---       ┆ ---       ┆ str       ┆   ┆           ┆ i8        ┆ f64       ┆          │
│ μs]       ┆ str       ┆ str       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-06-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 1e8       ┆ true     │
│ 6         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 00:30:40  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 1.0045e8  ┆ true     │
│ 6         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 00:31:47  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-07-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 311000.0  ┆ false    │
│ 0         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 02:03:20  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-07-2 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 267000.0  ┆ false    │
│ 3         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 01:21:27  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-09-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 3.5e7     ┆ false    │
│ 1         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 02:19:15  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-09-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 3.599e7   ┆ false    │
│ 1         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 02:22:36  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-11-1 ┆ 029100970 ┆ HANSEN    ┆ 028103221 ┆ … ┆ 0         ┆ 0         ┆ 800000.0  ┆ false    │
│ 7         ┆ 1         ┆ WINATA    ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ 01:06:31  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
print(1.7e8)

170000000.0

## 2

In [2]:
# Step 1: Self-join on account number within 24h window
df_rolled = df.join(
    df,
    left_on="from_account_number",
    right_on="from_account_number",
    how="left",
    suffix="_r"
).filter(
    (pl.col("transaction_date_r") >= pl.col("transaction_date") - pl.duration(hours=24)) &
    (pl.col("transaction_date_r") <= pl.col("transaction_date"))
)

# Step 2: Group by original row and sum amounts
df_sums = df_rolled.group_by("no_referensi").agg(
    pl.sum("transaction_amount_r").alias("rolling_24h_sum")
)

# Step 3: Identify which accounts exceeded 50M in 24h
df_flagged_accounts = df_rolled.join(df_sums, on="no_referensi").filter(
    pl.col("rolling_24h_sum") >= 50_000_000
)

# Step 4: Extract contributing transaction IDs
# flagged_refs_list = df_flagged_accounts.select("no_referensi_r").collect().to_series().to_list()

# Step 5: Merge rolling sum and flag back to original DataFrame
# df_flagged = df.join(df_sums, on="no_referensi").with_columns([
#     pl.col("no_referensi").is_in(flagged_refs_list).alias("flag_50m")
# ]).sort(["from_account_number", "transaction_date"])


# UPDATE based number and refs

# keys = df_flagged_accounts.select(["from_account_number", "no_referensi"]).unique()

# df_b = (
#     df
#     .join(
#         keys,
#         on=["from_account_number", "no_referensi"],
#         how="left"
#     )
#     .with_columns(
#         pl.when(pl.col("from_account_number_right").is_not_null())
#         .then(1)
#         .otherwise(pl.col("flag_50mio"))
#         .alias("flag")
#     )
#     .drop("from_account_number_right")
# )

In [ ]:
# Step 1: Self-join on account number within 24h window
df_rolled = (
    df.join(
        df,
        on="from_account_number",   # same as left_on/right_on
        how="left",
        suffix="_r"
    )
    .filter(
        (pl.col("transaction_date_r") >= pl.col("transaction_date") - pl.duration(hours=24)) &
        (pl.col("transaction_date_r") <= pl.col("transaction_date"))
    )
)

# Step 2: Group sums on the original transaction
df_sums = (
    df_rolled
    .group_by("no_referensi")
    .agg(pl.sum("transaction_amount_r").alias("rolling_24h_sum"))
)

# Step 3: Join sums back and filter >= 50M
df_flagged_accounts = (
    df_rolled
    .join(df_sums, on="no_referensi")
    .filter(pl.col("rolling_24h_sum") >= 50_000_000)
)

# Step 4: EXTRACT KEYS (these transactions exceeded 50M)
keys = (
    df_flagged_accounts
    .select(["from_account_number", "no_referensi"])
    .unique()
)

# Step 5: Returns only rows that match the keys
flagged = (
    df.join(keys, on=["from_account_number", "no_referensi"], how="semi")
      .with_columns(pl.lit(1).alias("flag"))
)

# Bring the flag back into df
# df_b = (
#     df.join(flagged, on=["from_account_number", "no_referensi"], how="left")
#       .with_columns(
#           pl.col("flag").fill_null(pl.col("flag_50mio"))
#       )
# )

df_b = (
    df.join(
        keys,
        on=["from_account_number", "no_referensi"],
        how="left",
        suffix="_key"
    )
    .with_columns(
        pl.when(pl.col("from_account_number").is_not_null())
        .then(1)
        .otherwise(pl.col("flag_50mio"))
        .alias("flag_50mio")
    )
    .drop(["from_account_number", "no_referensi"])
)

In [9]:
flagged.sort(["no_referensi", "from_account_number"]).head().collect()

shape: (5, 17)
┌────────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬──────┐
│ transactio ┆ from_accou ┆ from_accou ┆ to_account ┆ … ┆ flag_5min ┆ flag_10mi ┆ flag_50mi ┆ flag │
│ n_date     ┆ nt_number  ┆ nt_owner_n ┆ _number    ┆   ┆ ---       ┆ n         ┆ o         ┆ ---  │
│ ---        ┆ ---        ┆ ame        ┆ ---        ┆   ┆ i8        ┆ ---       ┆ ---       ┆ i32  │
│ datetime[μ ┆ str        ┆ ---        ┆ str        ┆   ┆           ┆ i8        ┆ i8        ┆      │
│ s]         ┆            ┆ str        ┆            ┆   ┆           ┆           ┆           ┆      │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪══════╡
│ 2025-09-29 ┆ 2914311573 ┆ DIDIN      ┆ 0881065444 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 10:59:20   ┆            ┆ KARSUDI    ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ ADIWINATA  ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ R          ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-25 ┆ 0821047404 ┆ FERDY T QQ ┆ 4847092752 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 12:17:30   ┆            ┆ CHAVIA     ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ ZAGITA     ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ TJUNG      ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-10-10 ┆ 4959253032 ┆ LIAN TIONG ┆ 3436001111 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 08:10:10   ┆            ┆ DJIN       ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-07-31 ┆ 0481053358 ┆ GUNAWAN    ┆ 5380320209 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 11:01:20   ┆            ┆ TENGGARAHA ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ RDJA       ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-07-29 ┆ 0881079887 ┆ HIDAYAT    ┆ 5250108089 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 12:56:30   ┆            ┆ SUGIARTO   ┆            ┆   ┆           ┆           ┆           ┆      │
└────────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴──────┘

In [12]:
flagged.filter(
    pl.col("transaction_amount") < 50_000_000
).head().collect()

shape: (5, 17)
┌────────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬──────┐
│ transactio ┆ from_accou ┆ from_accou ┆ to_account ┆ … ┆ flag_5min ┆ flag_10mi ┆ flag_50mi ┆ flag │
│ n_date     ┆ nt_number  ┆ nt_owner_n ┆ _number    ┆   ┆ ---       ┆ n         ┆ o         ┆ ---  │
│ ---        ┆ ---        ┆ ame        ┆ ---        ┆   ┆ i8        ┆ ---       ┆ ---       ┆ i32  │
│ datetime[μ ┆ str        ┆ ---        ┆ str        ┆   ┆           ┆ i8        ┆ i8        ┆      │
│ s]         ┆            ┆ str        ┆            ┆   ┆           ┆           ┆           ┆      │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪══════╡
│ 2025-06-16 ┆ 0291009701 ┆ HANSEN     ┆ 0281032216 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 00:31:47   ┆            ┆ WINATA     ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-16 ┆ 1871012837 ┆ ANI        ┆ 3500225555 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 04:26:49   ┆            ┆ HARYANI    ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-16 ┆ 2907014096 ┆ ERWIN      ┆ 9840479576 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 08:15:47   ┆            ┆            ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-16 ┆ 2101014251 ┆ RIZKI      ┆ 7313179286 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 08:16:53   ┆            ┆ NANDA      ┆            ┆   ┆           ┆           ┆           ┆      │
│            ┆            ┆ ARRAISMA   ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-16 ┆ 1871003374 ┆ TAN CENDRI ┆ 0700004803 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 08:36:23   ┆            ┆ TANIMENA   ┆ 354        ┆   ┆           ┆           ┆           ┆      │
└────────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴──────┘

In [13]:
flagged.filter(
    pl.col("from_account_number") == "0291009701"
).sort(["transaction_date"]).head().collect()

shape: (5, 17)
┌────────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬──────┐
│ transactio ┆ from_accou ┆ from_accou ┆ to_account ┆ … ┆ flag_5min ┆ flag_10mi ┆ flag_50mi ┆ flag │
│ n_date     ┆ nt_number  ┆ nt_owner_n ┆ _number    ┆   ┆ ---       ┆ n         ┆ o         ┆ ---  │
│ ---        ┆ ---        ┆ ame        ┆ ---        ┆   ┆ i8        ┆ ---       ┆ ---       ┆ i32  │
│ datetime[μ ┆ str        ┆ ---        ┆ str        ┆   ┆           ┆ i8        ┆ i8        ┆      │
│ s]         ┆            ┆ str        ┆            ┆   ┆           ┆           ┆           ┆      │
╞════════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪══════╡
│ 2025-06-16 ┆ 0291009701 ┆ HANSEN     ┆ 0281032216 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 00:30:40   ┆            ┆ WINATA     ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-16 ┆ 0291009701 ┆ HANSEN     ┆ 0281032216 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 00:31:47   ┆            ┆ WINATA     ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-23 ┆ 0291009701 ┆ HANSEN     ┆ 0281032216 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 17:17:19   ┆            ┆ WINATA     ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-06-23 ┆ 0291009701 ┆ HANSEN     ┆ 8740291255 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 17:19:43   ┆            ┆ WINATA     ┆            ┆   ┆           ┆           ┆           ┆      │
│ 2025-08-25 ┆ 0291009701 ┆ HANSEN     ┆ 5859459221 ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1    │
│ 14:25:57   ┆            ┆ WINATA     ┆ 351637     ┆   ┆           ┆           ┆           ┆      │
└────────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴──────┘

In [15]:
print(5e7)

50000000.0

In [10]:
print(5e7)

50000000.0

In [8]:
flagged.select(pl.len()).collect()

shape: (1, 1)
┌───────┐
│ len   │
│ ---   │
│ u32   │
╞═══════╡
│ 23299 │
└───────┘

In [ ]:
df_flagged_accounts.head().collect()

In [4]:
df_b.head().collect()

shape: (5, 14)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ from_acco ┆ to_accoun ┆ to_accoun ┆ … ┆ transacti ┆ flag_5min ┆ flag_10mi ┆ flag_50m │
│ on_date   ┆ unt_owner ┆ t_number  ┆ t_owner_n ┆   ┆ on_state  ┆ ---       ┆ n         ┆ io       │
│ ---       ┆ _name     ┆ ---       ┆ ame       ┆   ┆ ---       ┆ i8        ┆ ---       ┆ ---      │
│ datetime[ ┆ ---       ┆ str       ┆ ---       ┆   ┆ i8        ┆           ┆ i8        ┆ i8       │
│ μs]       ┆ str       ┆           ┆ str       ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2025-06-1 ┆ WIWI      ┆ 028102921 ┆ WIWI      ┆ … ┆ 1         ┆ 0         ┆ 0         ┆ 1        │
│ 6         ┆ SUBEKTI   ┆ 5         ┆ SUBEKTI   ┆   ┆           ┆           ┆           ┆          │
│ 00:00:15  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ WIWI      ┆ 021101161 ┆ WIWI      ┆ … ┆ 1         ┆ 0         ┆ 0         ┆ 1        │
│ 6         ┆ SUBEKTI   ┆ 1         ┆ SUBEKTI   ┆   ┆           ┆           ┆           ┆          │
│ 00:02:03  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ SITI NURL ┆ 003065206 ┆ TRIAS     ┆ … ┆ 1         ┆ 0         ┆ 0         ┆ 1        │
│ 6         ┆ ATIFAH    ┆ 763       ┆ PRAZARDI  ┆   ┆           ┆           ┆           ┆          │
│ 00:06:47  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ M.AMANULL ┆ 573535257 ┆ M         ┆ … ┆ 1         ┆ 0         ┆ 0         ┆ 1        │
│ 6         ┆ OH        ┆ 9         ┆ AMANULLOH ┆   ┆           ┆           ┆           ┆          │
│ 00:06:51  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2025-06-1 ┆ YUDI      ┆ 163000426 ┆ RUDI      ┆ … ┆ 1         ┆ 0         ┆ 0         ┆ 1        │
│ 6         ┆ PRATAMA   ┆ 6055      ┆ EPENDI    ┆   ┆           ┆           ┆           ┆          │
│ 00:07:45  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [5]:
df_b.select(pl.len()).collect()

shape: (1, 1)
┌────────┐
│ len    │
│ ---    │
│ u32    │
╞════════╡
│ 568196 │
└────────┘

In [ ]:
# UPDATE based number and refs

keys = df_a.select(["account_number", "refs"]).unique()

df_b = df_b.with_columns(
    pl.when(
        pl.struct(["account_number", "refs"]).is_in(keys)
    )
    .then(1)
    .otherwise(pl.col("flag"))
    .alias("flag")
)